@import url("reset.css");
@import url("impress.css");
@import url("slimbox.css");

/* COMMON STEP STYLES */
::-webkit-scrollbar {width: 13px;}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);border-radius: 3px;}
::-webkit-scrollbar-thumb {border-radius: 3px;background: #666;}

@keyframes rotate-h1 {
0%   { transform: perspective(814px) rotateY(-10deg); }
100% { transform: perspective(814px) rotateY(10deg); }
}

/*////////////////////////////////////////////
// GENERAL STYLES
*/
body { font-family: sans-serif; background-position: 0; background-size: cover; background: rgb(215, 215, 215); background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190)); }
hr {border-color: #C7C7C7;}

/*////////////////////////////////////////////
// TITLE/LOGO SECTION
*/
#title { padding: 0; max-width: 480px; pointer-events: none;}
#title h1 {line-height: normal;font-size: 96px;font-weight: bold;
transform-style: preserve-3d;
animation: rotate-h1 2s infinite alternate ease-in-out;
transform: perspective(1000px) rotateY(0deg);
transition: all 2s ease-in-out;
}
#title .footnote { font-size: 32px;}

#latest-tweets { pointer-events: all;
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
padding: 32px;
margin-top: 13px;
}
.tweet_list {font-size: 12px;}
.tweet_avatar {display: none;}
#social-links {text-align: center;font-size: 11px;}
#social-links a {pointer-events: all;}



/*////////////////////////////////////////////
// ART DIGITAL SECTION
*/
.album li { display: inline-block; float: left; }
.album li a { display: block; }
.album .show-more { background: rgba(255, 255, 255, 0.69); margin: 0 !important; }

#art-digital { }
#art-digital #digitals { max-height: 640px; overflow: auto; }
#art-digital strong { display: block; text-align: right; padding-right: 13px; }

#art-study { }
#art-study #studies { max-height: 640px; overflow: auto; }
#art-study strong { display: block; text-decoration: line-through; }

#art-traditional { }
#art-traditional #traditional { max-height: 640px; overflow: auto; }
#art-traditional strong { display: block; text-align: left; padding-left: 13px; }
