@import url("reset.css");
@import url("impress.css");
@import url("slimbox.css");
@import url("tweets.css");


/* COMMON STEP STYLES */
::-webkit-scrollbar {
width: 13px;
}

::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 3px;
}

::-webkit-scrollbar-thumb {
border-radius: 3px;
background: #666;
}

/*////////////////////////////////////////////
// GENERAL STYLES
*/
@font-face {
  font-family: 'WebSymbolsRegular';
  src: url("/fonts/websymbols-regular-webfont.eot");
  src: url("/fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), 
  		url("/fonts/websymbols-regular-webfont.woff") format("woff"), 
  		url("/fonts/websymbols-regular-webfont.ttf") format("truetype"), 
  		url("/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg"); }


body { font-family: sans-serif; background-position: 0; background-size: cover; }
/*
.impress-on-title { background: url(/img/bg2.jpg); }
.impress-on-bored { background: url(/img/bg1.jpg); }
.impress-on-video { background: url(/img/bg1.jpg); }
.impress-on-art-digital { background: url(/img/bg1.jpg); }
.impress-on-art-study { background: url(/img/bg1.jpg); }
.impress-on-contacts { background: url(/img/bg1.jpg); }
.impress-on-overview { background: url(/img/bg1.jpg); }
*/


/*////////////////////////////////////////////
// TITLE/LOGO SECTION
*/
#title { padding: 0; }

#title h1 {
line-height: normal;
font-size: 169px;
font-weight: bold;
color: #DDD;

-webkit-transform: translateZ(50px);
-moz-transform:    translateZ(50px);
-ms-transform:     translateZ(50px);
-o-transform:      translateZ(50px);
transform:         translateZ(50px);
}

#title .footnote { font-size: 32px; }

#ascii {
font-family: monospace;
font-size: 5px;
line-height: 0.5;
letter-spacing: 0em;
background: transparent;
position: absolute;
top: -99px;
left: -38px;
}
/*////////////////////////////////////////////
// ART DIGITAL SECTION
*/
.album li { display: inline-block; float: left; }
.album li a { display: block; }
.album .show-more { background: rgba(255, 255, 255, 0.69); margin: 0 !important; }

#art-digital { }
#art-digital #digitals { max-height: 600px; overflow: auto; }
#art-digital strong { margin-bottom: 13px; display: block; }

#art-study { }
#art-study #studies { max-height: 600px; overflow: auto; }
#art-study strong { font-size: 13px; display: block; text-decoration: line-through; }


/*////////////////////////////////////////////
// LATEST TWEETS and TUMBRL SECTION
*/
#bored {}
#bored .tumblr cite, #bored .tumblr time { display: none; }
#bored .regularTitle { font-weight: bold; padding: 0; margin: 0 0 0 13px; font-size: 105%; }
#bored .regularBody { overflow: auto; display: block; margin: 6px 13px; max-height: 420px; }
#bored .regularBody iframe { width: 100%; height: auto; margin: 13px 0; }
#bored .regularBody p img { width: 100%; }
#bored h2 { padding-left: 9px; }
#bored h2 span a {
font-family: 'WebSymbolsRegular';
padding: 3px;
text-decoration: none;
cursor: pointer;
}
#bored .postLink { margin: 0px 0 9px 13px; display: block; padding: 0; }
#latest-tweets { margin: 0; padding: 0; }
#tumblr-post .photo { width: 100%; max-width: 100%; background-size: contain; }


/*////////////////////////////////////////////
// CONTACTS SECTION
*/
#contacts { padding: 0; width: auto; }
#contacts textarea { font-size: 22px; line-height: normal; }



/*////////////////////////////////////////////
// LARGE OVERVIEW SECTION
*/


